# Environment variables for the application

# AuthService configuration
JWT_SECRET=

# Cloudinary configuration
CLOUD_NAME=
API_KEY=
API_SECRET=

# Razorpay configuration
RAZORPAY_KEY=
RAZORPAY_SECRET=

# PostgreSQL configuration
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASS=
MSVC_USERS_DB=msvc-

# MySQL configuration
MYSQL_USER=
MYSQL_PASS=

# MongoDB configuration
MONGO_INITDB_ROOT_USER=
MONGO_INITDB_ROOT_PASS=
MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASS=

# MongoDB connection settings
MONGODB_HOST=
MSVC_BLOG_DB=
MSVC_COUPON_DB=
MSVC_ENQUIRE_DB=
MSVC_PRODUCTS_DB=
MSVC_RATINGS_DB=

# MySQL connection settings
MYSQL_HOST=
MSVC_CART_DB=
MSVC_INVENTORY_DB=
MSVC_ORDER_DB=

## Eureka configuration
EUREKA_HOST=
EUREKA_PORT=